
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
      padding: 0;
  }
  
  /* estilos cabecera */
  .cabecera {
      height:100% ;
      padding: 0.5vw 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
  
      .logo{
          display: flex;
          align-items: center;
          gap: 2vh;
      }
  
      .imgSesion{
          width: 2vw;
      }
  
      .inicioSesion{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5vw;
          font-size: 1vw;
          width: 25vw;
      }
  
      .redes{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14vw;
          gap: 1vw;
      }
  
      .imgRedes{
          width: 2.5vw;
      }
  
  
  #logoCabecera{
      width: 5vw;
  
  }
  #animalhouse{
     color: black;  
     font-size: 2vw;
  }
  
  /* estilos de el menu  */
  .apartadoEmergencia{
      display: flex;
      gap: 1vw;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0 20px ;
  }
  
  .apartadoMenu{
      height: 60px;
      background: #0A4BAF;
      padding: 0 20px;
      color: #F0EBEB;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5vw 50px;
  }
  
  #imgTelefono{
      width: 3vw;
  
  }
  
  
  .menu a{
      color: #F0EBEB;
      text-decoration: none;
      padding: 0 15px ;
      transition: 0.4s;
      font-size: 110%;
      
  }
  
  .mostrarMenu,
  .esconderMenu{
      font-size: 30px;
      cursor: pointer;
      display: none;
      transition: 0.4s;
  }
  
  .mostrarMenu{
      order: 1;
  
  }
  
  .menu a:hover,
  .mostrarMenu:hover,
  .esconderMenu:hover{
      color: #2B1A70;
  }
  
  #check{
      display: none;
  }
  
  
  /* esta parte se encarga de acomodar el menú segun el tamaño dado  */
  @media (max-width: 768px) {
      /* apartado de  el menu  */
      .mostrarMenu,
      .esconderMenu{
          display: block;
      }
  .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0A4BAF;
  
       right: -100%; 
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s;
      
  }
  .menu a{
      display: block;
      padding: 20px;
  }
  
  .esconderMenu{
      position: absolute;
      top: 40px;
      right: 40px;
  }
  
  #check:checked ~ .menu{
      right: 0;
  }
      
  }
  
  
  
  
  
  /* estilos inicio de sesion  */
  
  
  /* estilos ventana flotante */
  .contenedor{
  
      width: 60vw;
      height: 70%;
      background: #1a1010;
      justify-content: center;
     align-items: center;
     position: absolute;
     left: 25%;
     top:25%;
     position:fixed;
     overflow: hidden;
     display: grid;
     grid-template-columns: 50% 50%;  
      display: none; 
      text-align: center;
  }
  
  .imageLogin{
     width: 100vw;
  }
  .imagenLogin img{
   width: 100%;
   height: 100%;
  }
  
  .login{
      width: 100%;
      display: flex;
      display: inline-block;
      background-color: #F0EBEB;
      height: 100%;
  
  
  }
  
  .formulario{
      width: 100%;
  
     
  }
  
  .login h2{
      text-align: left;
      margin-left: 13%;
  
  
  }
  
  #btnInicio{
      background-color: rgba(116, 93, 206, 0.71);
      margin-top: 3.5%;
      width: 74%;
      font-weight: bold;
      font-size: 100%;
  }
  
  #pata1{
   
      position: absolute;
      top: 42%;
     }
  
     #pata2{
   
      position: absolute;
      top: 57%;
     }
  
  .patas{
      width: 6%;
      display: flex;
      position: absolute;
      left: 51%
      ;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
      width: 70%;
      background-color: rgba(116, 93, 206, 0.09);
      padding: 10px;
      font-size: 16px;
  }
  
  #cerrar{
      position: absolute;
      width: 7%;
      margin-left: 90%;
  }
  
  .pieLogin h2{
      text-align: center;
      margin-right: 15%;
      font-size: 160%;
      margin-bottom: -1.5%;
     
  }
  
  a:link{
       text-decoration: none;
       color: #2B1A70;
      
  }
  a :hover{
      color: #0A4BAF;
  
  }
  
  /* aqui termina el login  */
  
/* estilos pagina de registro */

.registro{
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 5%;
}


#titulo1{
    position: relative;
   margin-top: 5%;
   margin-left: 37%;
   margin-bottom: -6.5%;
    width: 25vw;
}

.Formulario{
   
    width: 40vw;
    height: 600px;
    border-color: black;
    border-width: 2px;
    border-style: solid; 
}

@media screen and (max-width: 768px) {
    .Formulario{
        width: 60vw;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      
    }
    .Formulario div{
        margin-left: 27%;
   
    }


}
@media screen and (max-width: 480px) {

    .Formulario{
        width: 60vw;
        height: 400px;
        
    }
    #titulo1{
        position: relative;
        margin-top: 5%;
        margin-left: 27.5%;
        margin-bottom: -8%;
         width: 45vw;
    }
   .pata3d{
    width: 150%;
    position: relative;
    left: 30%;
    bottom: 53%;
   }
    
  
 
    
}

.Formulario h2{
    font-size: 1vw;
    padding: 20px 0;
}

.Formulario input, select{
    font-size: 1vw;
    width: 25vw;
    height: 3.5vh;
    border-width: 0.5px;
    background: rgba(116, 93, 206, 0.07);   
}
#dato2{
    margin-top: 2vw;
}

.dato1{
    display:flex;
    align-items: center;
    margin-top: 7.5%;
    margin-left: 17%;

}

.dato3,
.dato4,
.dato5{
    display:flex;
    align-items: center;
    margin-left: 17%;
}



.patas1{
    width: 8%;
}

.pata3d{

}


#pata3D{
     width: 25%;
    position: relative;
    left: 25%;
    margin-bottom: 50%;
}
#gatoimg{
    width: 12%;
    margin-top: -10%;
    margin-left: 20%;
    
}
.gato{
    margin-top: 10%;
    margin-left: -18%;
}

.perro{
    margin-top: -4%;
    margin-left: 24%;
}

#perroimg{
    width: 12%;
    margin-top: -45%;
    margin-bottom: 1%;
    margin-left: 50%;}

#mascota{
    height: 820px;
}


  
/* estilos pie de pagina */

/* redes de el pie de pagina  */

.encuentranos{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    align-items: center;
    font-size: 0.5vw;


}              

#mapa{
    width: 15vw;
    height: 10vh;
    border-radius: 0.09vw;
    border-style: hidden;

}

.infoPiepag{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    justify-content: center;
}

#parrafo{
    text-align: center;
    font-size: 1vw;
    margin-bottom: -1vw;
}
#titulo2{
    text-align: center;
    font-size: 1vw;
}

.pieDPag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5vw;
    background-image: url(image/olasPiedPag.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 89.9%;
    margin-top: 10px;
    text-align: center;
    
}

.menupie a{
    color: #1a1010;
    text-decoration: none;
    padding: 0 5px 5px 5px;
    transition: 0.4s;
    font-size: 1vw; 
    
}
.menupie{
    margin-bottom: 1vw;
  
}

/* redes sociales de el pie de pagina */

.redespie{
  
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        gap: 1vw;
        margin-bottom: 1vw;
}



.seccion1{
    display: flex;
    align-items: center;

}

/* logo de el pie de pagina  */
 .logopiePag{
    display: flex;
    height: 20vw;
    width: 20vw;
 }

 #imgLogo{ 
    width: 20vw;
    padding:3vw;
 }

/* olas del pie de pagina  */
.olaspie{
    width: 100%;
    display: flex;
    justify-content:end;
   
}
#imgOlas{
    width: 100%;
}