
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
      padding: 0;
  }
  
  /* estilos cabecera */
  .cabecera {
      height:100% ;
      padding: 0.5vw 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
  
      .logo{
          display: flex;
          align-items: center;
          gap: 2vh;
      }
  
      .imgSesion{
          width: 2vw;
      }
  
      .inicioSesion{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5vw;
          font-size: 1vw;
          width: 25vw;
      }
  
      .redes{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14vw;
          gap: 1vw;
      }
  
      .imgRedes{
          width: 2.5vw;
      }
  
  
  #logoCabecera{
      width: 5vw;
  
  }
  #animalhouse{
     color: black;  
     font-size: 2vw;
  }
  
  /* estilos de el menu  */
  .apartadoEmergencia{
      display: flex;
      gap: 1vw;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0 20px ;
  }
  
  .apartadoMenu{
      height: 60px;
      background: #0A4BAF;
      padding: 0 20px;
      color: #F0EBEB;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5vw 50px;
  }
  
  #imgTelefono{
      width: 3vw;
  
  }
  
  
  .menu a{
      color: #F0EBEB;
      text-decoration: none;
      padding: 0 15px ;
      transition: 0.4s;
      font-size: 110%;
      
  }
  
  .mostrarMenu,
  .esconderMenu{
      font-size: 30px;
      cursor: pointer;
      display: none;
      transition: 0.4s;
  }
  
  .mostrarMenu{
      order: 1;
  
  }
  
  .menu a:hover,
  .mostrarMenu:hover,
  .esconderMenu:hover{
      color: #2B1A70;
  }
  
  #check{
      display: none;
  }
  
  
  /* esta parte se encarga de acomodar el menú segun el tamaño dado  */
  @media (max-width: 768px) {
      /* apartado de  el menu  */
      .mostrarMenu,
      .esconderMenu{
          display: block;
      }
  .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0A4BAF;
  
       right: -100%; 
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s;
      
  }
  .menu a{
      display: block;
      padding: 20px;
  }
  
  .esconderMenu{
      position: absolute;
      top: 40px;
      right: 40px;
  }
  
  #check:checked ~ .menu{
      right: 0;
  }
      
  }
  
  
  
  
  
  /* estilos inicio de sesion  */
  
  
  /* estilos ventana flotante */
  .contenedor{
  
      width: 60vw;
      height: 70%;
      background: #1a1010;
      justify-content: center;
     align-items: center;
     position: absolute;
     left: 25%;
     top:25%;
     position:fixed;
     overflow: hidden;
     display: grid;
     grid-template-columns: 50% 50%;  
      display: none; 
      text-align: center;
  }
  
  .imageLogin{
     width: 100vw;
  }
  .imagenLogin img{
   width: 100%;
   height: 100%;
  }
  
  .login{
      width: 100%;
      display: flex;
      display: inline-block;
      background-color: #F0EBEB;
      height: 100%;
  
  
  }
  
  .formulario{
      width: 100%;
  
     
  }
  
  .login h2{
      text-align: left;
      margin-left: 13%;
  
  
  }
  
  #btnInicio{
      background-color: rgba(116, 93, 206, 0.71);
      margin-top: 3.5%;
      width: 74%;
      font-weight: bold;
      font-size: 100%;
  }
  
  #pata1{
   
      position: absolute;
      top: 42%;
     }
  
     #pata2{
   
      position: absolute;
      top: 57%;
     }
  
  .patas{
      width: 6%;
      display: flex;
      position: absolute;
      left: 51%
      ;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
      width: 70%;
      background-color: rgba(116, 93, 206, 0.09);
      padding: 10px;
      font-size: 16px;
  }
  
  #cerrar{
      position: absolute;
      width: 7%;
      margin-left: 90%;
  }
  
  .pieLogin h2{
      text-align: center;
      margin-right: 15%;
      font-size: 160%;
      margin-bottom: -1.5%;
     
  }
  
  a:link{
       text-decoration: none;
       color: #2B1A70;
      
  }
  a :hover{
      color: #0A4BAF;
  
  }
  
  /* aqui termina el login  */


  .datosTitulo1{
    width: 100vw;
    background-color: rgba(116, 93, 206, 0.09);
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    font-size: 15px; 

  }
  .datosTitulo1 h1{
    color:  #0A4BAF;
    font-size: 1vw;
    padding: 15px;

  }

  .filas{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2vw;
}
.filas1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2vw;
    gap: 7vw;
}



.huellas{
    display: flex;
    width: 25vw;
   height: 3vw;
   justify-content: center;
   align-items: center;
}
.huellas img{
    width: 3vw;
}
.huellas label{
    text-align: center;

}


.grupos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    text-align: center;
    font-size: 1vw;
    

}
.grupos input{
    width: 100%;
    height: 1vh;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 1vw;
    padding: 15px;
}


.grupos select{
    width: 100%;
    height: 3.5vh;
    border: none;
    background-color: rgba(116, 93, 206, 0.09);
    color: #2B1A70;
    text-align: center;
    border-radius: 4px;
    font-size: 1vw;
}




.calendario1{
   display: flex;
   flex-direction: column;  
   width: 20vw;
   padding-left: 7vw;
   padding-right:2vw ;

}

  .calendario th, .calendario td{
    text-align: center;
    padding: .2em .5em;
    border: 1px solid black;
    font-size: 1vw;
 
  }
  .calendario th{
    color: #0A4BAF;
  }
  
  .calendario caption{
    text-align: left;
    margin-bottom: 1vw;
    text-align: center;
    font-variant: small-caps;
    font-size: 15px;
    letter-spacing: 5px;
  }
  
  .calendario td{
    text-align: left;
    font-size: .5em;
    padding-bottom: 3em;
    padding-right: 3em;
  }
  
  .calendario td:hover{
    background-color: #2B1A70;
    cursor: pointer;
    font-size: 1.6em;
    text-align: center;
    padding: 0;
  }
  
  
  .slider-frame{
    
    width: 100%;
    height: auto;

    overflow: hidden;
  }
  .slider-frame ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: slider 15s infinite alternate ease-in-out ;
  }
  .slider-frame li{
    list-style: none;
    width: 100%;
  }
  
    .slider-controls {
   
    display: flex;
    gap: 253px;
    margin-bottom: -2vw;
    
    
    }

#prevBtn{
    width: 2vw;
    height: 3vh;
   
    background-color: rgba(116, 93, 206, 0.09);
    border: none;
    border-radius: 4px;
    color: #0A4BAF;
    font-size: 16px;
    cursor: pointer;
}

#nextBtn{
    width: 2vw;
    height: 3vh;
    background-color: rgba(116, 93, 206, 0.09);
    border: none;
    border-radius: 4px;
    color: #0A4BAF;
    font-size: 16px;
    cursor: pointer;
}



.horas{
    width: 25vw;
    display: flex;
    gap: 2vw;
    padding-top: 1.5vw;


  

}
.horas img{
    width: 5vw;
   
}

.hora{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.formulario{
    display: flex;
    justify-content: center;
    gap: 5vw;
    
}

.botones{
    display: flex;
    gap: 5vw;
    align-items: center ;
    justify-content: center;
}

.botones input[type=radio]{
    width: 2vw;
    height: 2em;
    border: 0px;
}

#textTarea{
    width: 24vw;
    height: 17vh;
    background-color: rgba(116, 93, 206, 0.07);
    border: none;
    text-align: center;
    font-size: 1vw;
}

.botones img{
    width: 3vw;
}

.columnas{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-top: 2vw;
    align-items: center;
}


.grupo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    text-align: center;
    font-size: 1vw;

}
.grupo2 input{
    width: 100%;
    height: 1vh;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 1vw;
    padding: 15px;
}



.grupo2 select{
    width: 100%;
    height: 3.5vh;
    border: none;
    background-color: rgba(116, 93, 206, 0.09);
    color: #2B1A70;
    text-align: center;
    border-radius: 4px;
    font-size: 1vw;
}




#apartar {
    width: 60%;
    padding: 10px;
    background-color:rgba(116, 93, 206, 0.52);
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2.4vw;
    font-size: 1vw;
 

}

#apartar:hover {
    background-color:rgba(116, 93, 206, 1);
}



    

/* estilos pie de pagina */

/* redes de el pie de pagina  */

.encuentranos{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    align-items: center;
    font-size: 0.5vw;


}              

#mapa{
    width: 15vw;
    height: 10vh;
    border-radius: 0.09vw;
    border-style: hidden;

}

.infoPiepag{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    justify-content: center;
}

#parrafo{
    text-align: center;
    font-size: 1vw;
    margin-bottom: -1vw;
}
#titulo2{
    text-align: center;
    font-size: 1vw;
}

.pieDPag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 5vw;
    background-image: url(image/olasPiedPag.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 89.9%;
    margin-top: 10px;
    text-align: center;
    
}

.menupie a{
    color: #1a1010;
    text-decoration: none;
    padding: 0 5px 5px 5px;
    transition: 0.4s;
    font-size: 1vw; 
    
}
.menupie{
    margin-bottom: 1vw;
  
}

/* redes sociales de el pie de pagina */

.redespie{
  
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12vw;
        gap: 1vw;
        margin-bottom: 1vw;
}



.seccion1{
    display: flex;
    align-items: center;

}

/* logo de el pie de pagina  */
 .logopiePag{
    display: flex;
    height: 20vw;
    width: 20vw;
 }

 #imgLogo{ 
    width: 20vw;
    padding:3vw;
 }

/* olas del pie de pagina  */
.olaspie{
    width: 100%;
    display: flex;
    justify-content:end;
   
}
#imgOlas{
    width: 100%;
}

@media screen and (max-width: 960px) {
   
    .filas1{
        display: flex; 
        justify-content: center; 
       
       
    }
    .calendario1{
        width: 30vw;
       margin-left: -10vw;
    }
    .horas{
        padding-top: 4vw;
        padding-left: 5vw;
        width: 28vw;

    }
    .horas img{
        width: 8vw;
 
        
    }
    
   
                
}

@media (max-width: 768px) {
    .calendario1{
        width: 41vw;
       margin-left: -5vw;
    }

    .pieDPag{
        margin-top: 15vw;
    }
}


