

.calendario{
  margin-top: 2em;
}

.calendario th, .calendario td{
  text-align: center;
  padding: .2em .5em;
  border: 1px solid black;
}

.calendario caption{
  text-align: left;
  margin-bottom: 5px;
  font-variant: small-caps;
  font-size: 20px;
  letter-spacing: 5px;
}

.calendario td{
  text-align: left;
  font-size: .8em;
  padding-bottom: 3em;
  padding-right: 3em;
}

.calendario td:hover{
  background-color: magenta;
  cursor: pointer;
  font-size: 1.6em;
  text-align: center;
  padding: 0;
}


.slider-frame{
  width: 100%;
  height: auto;
margin-top: -0.8%;
  overflow: hidden;
}
.slider-frame ul{
  display: flex;
  padding: 0;
  width: 500%;
  animation: slider 15s infinite alternate ease-in-out ;
}
.slider-frame li{
  list-style: none;
  width: 100%;
}

  .slider-controls {
    margin-top: 10px;
    text-align: left;
  }

