
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
      padding: 0;
  }
  
  /* estilos cabecera */
  .cabecera {
      height:100% ;
      padding: 0.5vw 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
  
      .logo{
          display: flex;
          align-items: center;
          gap: 2vh;
      }
  
      .imgSesion{
          width: 4vh;
      }
  
      .inicioSesion{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5vw;
          font-size: 1vw;
          width: 25vw;
      }
  
      .redes{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14vw;
          gap: 1vw;
      }
  
      .imgRedes{
          width: 2.5vw;
      }
  
  
  #logoCabecera{
      width: 5vw;
  
  }
  #animalhouse{
     color: black;  
     font-size: 2vw;
  }
  
  /* estilos de el menu  */
  .apartadoEmergencia{
      display: flex;
      gap: 1vw;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0 20px ;
  }
  
  .apartadoMenu{
      height: 60px;
      background: #0A4BAF;
      padding: 0 20px;
      color: #F0EBEB;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5vw 50px;
  }
  
  #imgTelefono{
      width: 3vw;
  
  }
  
  
  .menu a{
      color: #F0EBEB;
      text-decoration: none;
      padding: 0 15px ;
      transition: 0.4s;
      font-size: 110%;
      
  }
  
  .mostrarMenu,
  .esconderMenu{
      font-size: 30px;
      cursor: pointer;
      display: none;
      transition: 0.4s;
  }
  
  .mostrarMenu{
      order: 1;
  
  }
  
  .menu a:hover,
  .mostrarMenu:hover,
  .esconderMenu:hover{
      color: #2B1A70;
  }
  
  #check{
      display: none;
  }
  
  
  /* esta parte se encarga de acomodar el menú segun el tamaño dado  */
  @media (max-width: 768px) {
      /* apartado de  el menu  */
      .mostrarMenu,
      .esconderMenu{
          display: block;
      }
  .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0A4BAF;
  
       right: -100%; 
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s;
      
  }
  .menu a{
      display: block;
      padding: 20px;
  }
  
  .esconderMenu{
      position: absolute;
      top: 40px;
      right: 40px;
  }
  
  #check:checked ~ .menu{
      right: 0;
  }
      
  }
  
  
/* estilos pagina de registro */
#titulo1{
    width: 25%;
margin-top: 2%;
margin-left: 35.5%;
margin-bottom: -2.5%;
  
}


#titulo2{
    width: 25%;
margin-top: -256%;
margin-left: 35.5%;
margin-bottom: 6%;
  
}
.FormDueño{
    margin-top: 30px;
    margin-left: 30%;
    width: 1000px;
    height: 750px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
   
}

#mascota{
    margin-top: -7.5%;
}
#nombre1{
    margin-top: 9%;
}  

.FormDueño h2{
    margin-top: 3%;
    margin-left: 36%;
    font-size: 30px;
   
}
#caja1{
    margin-bottom: 4%;
}
.FormDueño input, select{
    font-size: 18px;
    width: 350px;
    height: 30.5px;
    margin-left: 30%;
    margin-top: -2%;
}

#pata1{
    width: 8%;
    display: inline-block;
    margin-left: 28%;
    margin-bottom: -15%;
}
.patas{
    width: 8%;
    display: inline-block;
    margin-left: 28%;
    margin-bottom: -9%;
    ;
}

#pata3D{
    margin-top: -15%;
    margin-left: 55%;
    width: 25%;
    
}
#gatoimg{
    width: 12%;
    margin-top: -10%;
    margin-left: 20%;
    
}
.gato{
    margin-top: 10%;
    margin-left: -18%;
}

.perro{
    margin-top: -4%;
    margin-left: 24%;
}

#perroimg{
    width: 12%;
    margin-top: -45%;
    margin-bottom: 1%;
    margin-left: 50%;}

#mascota{
    height: 820px;
}

/* estilos pie de pagina */

.pieDPag{
    background-color: #D7D1D1;
}

.pieDPag iframe{

    margin-left: 15.5%; 
}
#titulo{
    display: inline-block;
    margin-left: 19%;
}
#tCon{
  
    margin-top: -2%;
    text-align: center;
   
 
}

.contenido {
   text-align: center;
   margin-top: -12%;
   font-size: 23px;
 
}

#logoPie{
    display: inline-block;
    margin-left: 65%;
    margin-top: -10%;

}

.menupie h4{
    display: inline-block;
    margin-top: -100%;
    color: #433131;
    font-size: 23px;
    margin-left: 3%;
   
}
.redespie{
    margin-top: -2%;
    margin-left: 12%;
}
.pieDPag img{
    margin-top: -13%;
}
